sudo: false

language: "node_js"

jobs:
  include:
    - stage: test
      node_js: lts/*
      script:
        - npm run lint
        - "./setup.test.sh"
    - stage: release
      if: branch = master
      node_js: lts/*
      script: skip
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release

notifications:
  slack:
    rooms:
      secure: xpLLwqFYu36bSY+zQuBywIvsYR23978kDwrhyTkj2YLKb63ShsZ2hbX2myJl0+66a+ltQCpnwbC76vVyqyLRcvnCUsDAROZpk/PngC5ORQSHD74FxGg2U8XlfdQ8hCv1Gg08XKto/aAJPZ0lBITqYTIwWJdjPuzrjioDMs15bhqg5SeNSZep0Idxfcz/nWtzqTvBYzG2VALKZl4fHG97h/1Hv4r6yfUwuFl3fm20Tr4tg4s+5sHa9J4nkXo5LCraay/MLOh/foofp/UMZgRkUPwDTF2bzHy1y2ZosBwxOE2MSd7L20PahtiQX8TPL6m+6V5NY1BzAjQ30Po2ZrPRbC2hg0xBI9qDA+D0vNAZC5cwjqzaL8CHU+lU4PHzJgxPhwdeI6zpu5Tiz5ZXI0VPKPQlTNoPo/E93UUQET10lGi6VZ4cBIxkoREmEkC/2uwoafze4ldlGINZ0yvWUAfjHt+IVBYHIbwHxCHd+tRKGct3jLYQHp9IUnI11bu1koV+djKSP0+9ZZk92EEad/fqUyvS+dJ+53CTmpYUu+4KsQ9hgGDnbLEo+Q6f99fY2m4qpwS/McSex4kprlFyDsDgr+W7uEmgu/8KWtBVUfXO2ERr1BwC2dqaLTNVy3oYkrn7WY0m+pxvZx9p0kRuu0t/7ygokFu9T+WNv+OrGEbTTt8=
    template:
      - "Build <%{build_url}|%{result}> for %{repository_slug}@%{branch} (<%{compare_url}|%{commit}>) in %{duration}"
    on_success: change
    on_failure: always
